<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <!--<add name="MySqlServer" connectionString="Server=localhost;Database=clubpool;UID=clubpool;pwd=clubpool;Use Procedure Bodies=false;" providerName="MySql.Data.MySqlClient"/>-->
  <add name="ElmahMySql" connectionString="Server=localhost;Database=elmah;UID=elmah;pwd=elmah;Use Procedure Bodies=false;"/>
  <!--
  <add name="ClubPoolContext" connectionString="Data Source=|DataDirectory|ClubPool.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  -->
  <add name="ClubPoolContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=ClubPool;User ID=clubpool;Password=clubpool;" providerName="System.Data.SqlClient"/>
</connectionStrings>
