@model ClubPool.Web.Controllers.Seasons.ChangeActiveViewModel

@{
    ViewBag.Title = "Change Active Season";
}

<div class="heading">
  <span>Change the Active Season</span>
</div>

@if (!string.IsNullOrEmpty(Model.CurrentActiveSeasonName)) {
<p>The current active season is: <strong>@Model.CurrentActiveSeasonName</strong></p>
} else {
<p>There is no active season.</p>
}

@if (Model.InactiveSeasons.Any()) {
  <p>
  @using (var form = Html.BeginForm("ChangeActive", "Seasons", FormMethod.Post, new { @class = "normal" })) {
    @Html.AntiForgeryToken()
    @:Select a new active season:
    <select name="id">
    @foreach (var s in Model.InactiveSeasons) {
      <option value="@s.Id">@s.Name</option>
    }
    </select>
    <input class="submit-button" type="submit" value="Change" />
  }
  </p>
} else {
<p>There are no inactive seasons to make active.</p>
}
