<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ipoolEntities" connectionString="metadata=res://*/IPool.csdl|res://*/IPool.ssdl|res://*/IPool.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=ipool;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="cp" connectionString="Server=localhost;Database=clubpool;UID=clubpool;pwd=clubpool;Allow Batch=true;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>