@model ClubPool.Web.Controllers.Teams.CreateTeamViewModel

@{
    ViewBag.Title = "Add Team";
}

<div class="heading">
  <span>Add team to @Model.DivisionName</span>
</div>
<div class="form-content">
  <div class="form-header">
    All fields are required
  </div>
  @if (TempData.ContainsKey(GlobalViewDataProperty.PageErrorMessage)) {
    Html.RenderPartial("_ErrorMessage");
  } 
  @using (var form = Html.BeginForm("Create", "Teams", FormMethod.Post, new { @class = "normal" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.DivisionId)
    @Html.Partial("_EditTeam")
    <div class="spacer">&nbsp;</div>
    <div class="form-row-span">
      <input class="submit-button" type="submit" value="Create Team" />
    </div>
  }
</div>
