@{
    ViewBag.Title = "Account Help";
}

<h5>I cannot access my account</h5>
<p>Choose one of the options below:</p>
<div class="account-help-options">
  <ul>
    <li>@Html.ActionLink("I forgot my password", "ResetPassword", "Users")</li>
    <li>@Html.ActionLink("I forgot my username", "RecoverUsername", "Users")</li>
  </ul>
</div>
