/* base
---------------------------------------------------------*/
html, body, img
{
  padding: 0;
  margin: 0;
  font: 14px Verdana, Arial, Helvetica;
}

table
{
  border-collapse: collapse;
}

thead {
  th {
    color: @dark_blue;
    border-bottom: 2px solid @dark_blue;
    padding: 0 12px 10px 12px;
    margin-bottom: 10px;
  }
}

tbody {
  td {
    padding: 8px 16px;
    text-align: center;
    border-bottom: 1px solid @light_blue;
  }
  tr:hover {
    td {
      background-color: @light_blue;
    }
  }
}

tfoot 
{
  td 
  {
    padding: 12px;
  }
}

.submit-row {
  text-align: right;
  padding: 10px 10px 6px 0px;
}

body 
{
  min-width: 800px;
}

a
{
  color: @standard_blue;

  img 
  {
    border: 0;
  }
}

a:hover
{
  color: #0000FF;
}

h1, h2, h3
{
  font-weight: bold;
  color: @dark_blue;
  margin: 20px 0px 20px 0px;
}

h1
{
  font-size:300%;
}

h2
{
  font-size: 250%;
}

H3
{
  font-size: 200%;
}

H3.heading
{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
}

H4, h5
{
  color: #114884;
  margin: 15px 0px 15px 0px;
  font-weight: normal;
}

h4
{
  font-size: 160%;
}
h5
{
  font-size: 120%;
}

div.spacer
{
  clear: both;
}

.corner(@radius: 12px)
{
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

p.heading {
  padding: 10px 0px 20px 0px;
}

span.heading 
{
  font-weight: bold;
  color: @standard_blue;
  margin-bottom: 30px;
  font-size: 200%;
}

/* rescue pages */
div.rescuediv
{
  text-align: center;
  padding: 50px;
  border: 2px solid red;
  background-color: @error_background_color;
  color: @error_foreground;
  margin: 30px;
}

/* layout */
/* Container
---------------------------------------------------------*/
#container 
{
  padding-right: 330px;
  overflow: hidden;
  clear: both;
}

#container .column 
{
  position: relative;
  float: left;
  padding-bottom: 20010px;
  margin-bottom: -20000px;
}

/* HEADER
---------------------------------------------------------*/
#header
{
  padding: 0;
  margin: 0;
}

/* menu
----------------------------------------------------------*/
#menucontainer
{
  margin-top: -3px;
  margin-left: 0;
  font-size: 12px;
  height: 32px;
  background-color: @light_blue;
}

/* main content
----------------------------------------------------------*/
#maincontent
{
  width: 100%;
  padding: 10px 20px;
}

div.blue-button 
{
  display: inline-block;
  border: 2px solid @dark_blue;
  background-color: @standard_blue;
  padding: 10px;
  .corner(6px);
  color: @light_blue;

  img {
    vertical-align: middle;
  }
}

div.blue-button:hover
{
  background-color: @light_blue;
  border-color: @standard_blue;
  color: @dark_blue;
}