/* global vars */
@standard_blue: #648ABD;
@error_background_color: #FFFFD5;
@error_foreground: red;
@light_blue: #E0ECF8;
@dark_blue: #074B8A;
@menu_background: #8EB1DF;
@menu_highlight_background: #7795BD;

/* imports */
@import "menu.css";
@import "base.css";

.loginStatusPanel
{
  right: 25px;
  float: right;
  display: inline;
  position: relative;
  background: @light_blue;
  padding: 4px 20px 10px 20px;
  color: black;
  width: 220px;
  text-align: center;
  border: 1px solid @dark_blue;
  border-top: 0;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-radius-bottomleft: 30px;
  border-radius-bottomright: 30px;
}

/* sidebar
----------------------------------------------------------*/
.sidebar-corner
{
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.sidebar-container
{
  width: 270px;
  margin-right: -330px;
  padding: 0;
  text-align: center;
}

div.sidebar
{
  background: #E2E2E2;
  padding: 6px 6px 2px 6px;
}

.sidebar-gadget
{
  margin-bottom: 4px;
}

div.sidebarGadgetContainer
{
  .sidebar-gadget;
  background: @standard_blue;
  padding: 6px;
}

div.sidebarGadgetTitle
{
  padding: 4px;
  color: #FFFFFF;
}

div.sidebarGadgetContent
{
  margin: 0 auto;
  padding: 4px;
  font-size: 80%;
  background-color: @light_blue;
  
  button {
    padding: 0px;
  }
}

/* footer
----------------------------------------------------------*/
#footer
{
  clear: both;
  background: #999;
  position: relative;
}

/* forms
----------------------------------------------------------*/

div.formContainer
{
  margin-bottom: 4px;
  background: @standard_blue;
  padding: 6px;
  display: inline-block;
  .corner;
}

div.formTitle
{
  padding: 4px;
  color: #FFFFFF;
  font-size: 120%;
  text-align: center;
}

div.formHeader
{
  padding: 10px 0 10px 0;
  border-bottom: solid 1px black;
  margin: 0 10px 10px 10px;
  text-align: center;
}

div.formError
{
  padding: 10px;
  border: 1px solid red;
  background-color: @error_background_color;
  color: @error_foreground;
  margin: 8px;
}

div.formContent
{
  border: 0;
  margin: 0 auto;
  padding: 8px;
  background-color: @light_blue;
  .corner;
}

fieldset
{
  border: 0;
}

form.normal {
  div.formrow {
    padding-right: 10px;
    min-height: 54px;
  }
}

div.formrow > label
{
  display: inline-block;
  width: 200px;
  text-align: right;
  padding-right: 8px;
  vertical-align: top;
  margin-top: 8px;
}

span.required
{
  font-size: 110%;
  color: Red;
  font-weight: bold;
  vertical-align: top;
}

/*
div.formInput input
{
  width: 221px;
  border: 1px solid @standard_blue;
  height: 25px;
  padding: 2px;
  margin: 1px;
  display: block;
}
*/

/*
div.formrow {
  input.short {
    width: 104px;
  }
}
*/

div.formInput
{
  display: inline-block;
  padding: 0;
  vertical-align: top;

  label {
    font-size: 80%;
  }

  input
  {
    width: 221px;
    border: 1px solid @standard_blue;
    height: 25px;
    padding: 2px;
    margin: 1px;
    display: block;
  }

  input.short {
    width: 104px;
  }
}

button, input.submit-button
{
  clear:both;
  text-align:center;
  font-weight:bold;
  padding: 6px;
}

form.normal {
  button {
    padding: 6px 20px 6px 20px;
  }
}


div.formrowspan
{
  text-align: center;
  padding: 2px;
  
  input
  {
    vertical-align: sub;
  }
}


div.submitrow
{
  text-align: center;
  padding: 6px 0 6px 0;
}

form p.error
{
  color: @error_foreground;
  text-align: center;
  width: 100%;
}

.form-error
{
  padding: 0 .7em;
  margin-bottom: 1.5em;
}

div.formrow input.error, input.input-validation-error
{
  border: 2px solid red !important;
  background-color: @error_background_color;
  color: @error_foreground;
  margin: 0 !important;
}

span.field-validation-error
{
  color: @error_foreground;
  font-size: 80%;
}

div.formValidationSummary
{
  color: @error_foreground;
  background-color: @error_background_color;
  border: 1px solid red;
  padding: 6px;
  margin-bottom: 8px;
}

/* sidebar forms */

form.sidebar {
  div.formrow {
    padding-right: 8px;
    min-height: 34px;
    label {
      display: inline-block;
      width: 70px;
      text-align: right;
      padding-right: 4px;
      vertical-align: top;
      margin-top: 8px;
    }
  }
  div.formInput {
    input {
      width: 120px;
      height: 16px;
    }
  }
  button {
    width: 100px;
    height: 25px;
    /*margin-left: 55px;*/
  }
}

/* normal login form */

form.loginForm
{
  width: 400px;
  div.formrow {
    label {
      width: 120px;
    }
  }
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

/* Alerts gadget */

.alerts-gadget
{
  text-align:left;
  font-size: 80%;
  ul {
    padding-left: 24px;
  }
}

/* Notifications */

.message {
  padding: 0 30px 0 10px;
  display: inline-block;
  margin: 10px 0px;
}

.notification {
}

.message-icon
{
  margin-right: .3em;
  vertical-align: middle;
}

div.pager {
  padding: 10px;
  text-align: right;
}

div.action-button
{
  display: inline-block;
  padding: 4px;
  img {
    vertical-align: middle;
  }
}

div.action-button-row
{
  margin-bottom: 20px;
}