/* global vars */
@standard_blue: #648ABD;
@error_background_color: #FFFFD5;
@error_foreground: red;
@light_blue: #E0ECF8;
@dark_blue: #074B8A;
@menu_background: #8EB1DF;
@menu_highlight_background: #7795BD;

/* imports */
@import "menu.css";
@import "base.css";

.loginStatusPanel
{
  right: 25px;
  float: right;
  display: inline;
  position: relative;
  background: @light_blue;
  padding: 4px 20px 10px 20px;
  color: black;
  width: 220px;
  text-align: center;
  border: 1px solid @dark_blue;
  border-top: 0;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border-radius-bottomleft: 30px;
  border-radius-bottomright: 30px;
}

/* sidebar
----------------------------------------------------------*/
.sidebar-corner
{
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.sidebar-container
{
  width: 270px;
  margin-right: -330px;
  padding: 0;
  text-align: center;
}

div.sidebar
{
  background: #E2E2E2;
  padding: 6px 6px 2px 6px;
}

.sidebar-gadget
{
  margin-bottom: 4px;
  .sidebar-corner;
}

div.sidebar-gadget-title
{
  padding: 6px;
}

span.sidebar-gadget-title-text
{
  padding: 2px; vertical-align: top;
  color: @dark_blue;
}

div.sidebar-form-gadget
{
  .sidebar-gadget;
  /*border: 1px solid @standard_blue;*/
  background-color: @light_blue;
  padding: 4px;
  font-size: 80%;
  
  div.form-row {
    padding-right: 8px;
    min-height: 34px;

    span.form-label-left {
      width: 70px;
      padding-right: 4px;
      margin-top: 8px;
    }

    div.form-input {
      input {
        width: 120px;
        height: 16px;
      }
    }
  }

  button {
    padding: 0px;
    width: 100px;
    height: 25px;
    /*margin-left: 55px;*/
  }
}

/* footer
----------------------------------------------------------*/
#footer
{
  clear: both;
  background: #999;
  position: relative;
}

/* Normal page heading */

div.heading {
  font-size: 200%;
  font-weight: bold;
  color: @dark_blue;
  margin-bottom: 30px;

  span {
    display: inline-block;
    padding-top: 8px;
    vertical-align: top;
  }
}
  

/* forms
----------------------------------------------------------*/

div.form-header
{
  padding: 10px 0 10px 0;
  border-bottom: solid 1px black;
  margin: 0 10px 10px 10px;
  text-align: center;
}

div.formError
{
  padding: 10px;
  border: 1px solid red;
  background-color: @error_background_color;
  color: @error_foreground;
  margin: 8px;
}

div.form-content
{
  padding: 8px;
  background-color: @light_blue;
  display: inline-block;
  .corner;
}

fieldset
{
  border: 0;
}

form.normal {
  div.form-row {
    padding-right: 10px;
    min-height: 54px;
  }
  div.form-row-short {
    min-height: 0;
    margin: 10px 0;
  }
}

span.form-label-left
{
  display: inline-block;
  width: 180px;
  text-align: right;
  padding-right: 8px;
  vertical-align: top;
  margin-top: 8px;
}

span.required
{
  font-size: 110%;
  color: Red;
  font-weight: bold;
  vertical-align: top;
}

span.form-sublabel {
  font-size: 80%;
}

div.form-input
{
  display: inline-block;
  padding: 0;
  vertical-align: top;

  input
  {
    width: 221px;
    border: 1px solid @standard_blue;
    height: 25px;
    padding: 2px;
    margin: 1px;
    display: block;
    .corner(4px);
  }

  input.short {
    width: 104px;
  }
}

button, input.submit-button
{
  clear:both;
  text-align:center;
  font-weight:bold;
  padding: 6px;
}

form.normal {
  button {
    padding: 6px 20px 6px 20px;
  }
}


div.form-row-span
{
  text-align: center;
  padding: 2px;
  
  input
  {
    vertical-align: sub;
  }
}


div.submit-row
{
  text-align: center;
  padding: 6px 0 6px 0;
}

form p.error
{
  color: @error_foreground;
  text-align: center;
  width: 100%;
}

.form-error
{
  padding: 0 .7em;
  margin-bottom: 1.5em;
}

div.form-row input.error, input.input-validation-error
{
  border: 2px solid red !important;
  background-color: @error_background_color;
  color: @error_foreground;
  margin: 0 !important;
}

span.field-validation-error
{
  color: @error_foreground;
  font-size: 80%;
}

div.formValidationSummary
{
  color: @error_foreground;
  background-color: @error_background_color;
  border: 1px solid red;
  padding: 6px;
  margin-bottom: 8px;
}

/* normal login form */

div.login-form
{
  span.form-label-left {
    width: 90px;
  }
}

div.add-user-form, div.edit-user-form
{
  span.form-label-left {
    width: 140px;
  }
}

div.form-message {
  margin: 8px auto 16px;
  width: 80%;
  display: block;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

/* Alerts gadget */

.alerts-gadget
{
  text-align:left;
  font-size: 80%;
  padding: 0px;
  
  a {
    color: black;
  }

  div.no-alerts {
    .corner(8px);
    min-height: 24px;
    padding-left: 32px;
    vertical-align: middle;
    background-color: white;
    background-image: url(../images/check-medium.png);
    background-position: 4px;
    background-repeat: no-repeat;

    span {
      display: inline-block;
      margin-top: 5px;
      vertical-align: middle;
    }
  }

  div.alerts-container {
    .corner(6px);
    padding: 8px;
    padding-left: 36px;
    background-repeat: no-repeat;
    background-position: 4px;
  }

  div.errors {
    background-image: url(../images/error-medium.png);
    background-color: #ffe5e5;
  }

  div.warnings {
    background-image: url(../images/warning-medium.png);
    background-color: #ffffcc;
  }

  div.notifications {
    background-image: url(../images/notification-medium.png);
    background-color: @light_blue;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding-bottom: 8px;
      margin-bottom: 6px;
      border-bottom: 1px dashed black;
    }
    li:last-child {
      border-bottom: 0;
      padding-bottom: 2px;
      margin-bottom: 2px;
    }
  }
}

/* Notifications */

.message {
  padding: 0 30px 0 10px;
  display: inline-block;
  margin: 10px 0px;
}

.notification {
}

.message-icon
{
  margin-right: .3em;
  vertical-align: middle;
}

div.pager {
  padding: 10px;
  text-align: right;
}

div.action-button
{
  display: inline-block;
  padding: 4px;
  img {
    vertical-align: middle;
  }
}

div.action-button-row
{
  margin-bottom: 20px;
}