/* base
---------------------------------------------------------*/
html, body, img
{
  padding: 0;
  margin: 0;
  font: 14px Verdana, Arial, Helvetica;
}

body 
{
  min-width: 800px;
}

a
{
  color: #074B8A;
}

a:hover
{
  color: #0000FF;
}

h1, h2, h3
{
  font-weight: bold;
  color: #074B8A;
  margin: 10px 0px 10px 0px;
}

h1
{
  font-size:300%;
}

h2
{
  font-size: 250%;
}

H3
{
  font-size: 200%;
}

H4, h5
{
  color: #114884;
  margin: 15px 0px 5px 0px;
  font-weight: normal;
}

h4
{
  font-size: 160%;
}
h5
{
  font-size: 120%;
}

div.spacer
{
  clear: both;
}

/* rescue pages */
div.rescuediv
{
  text-align: center;
  padding: 50px;
  border: 2px solid red;
  background-color: #FFFFD5;
  color: red;
  margin: 30px;
}

/* Container
---------------------------------------------------------*/
#container 
{
  padding-right: 330px;
  overflow: hidden;
  clear: both;
}

#container .column 
{
  position: relative;
  float: left;
  padding-bottom: 20010px;
  margin-bottom: -20000px;
}

/* HEADER
---------------------------------------------------------*/
#header
{
  padding: 0;
  margin: 0;
}

#loginStatusPanel
{
  right: 25px;
  float: right;
  display: inline;
  position: relative;
  background: #E0ECF8;/*#648ABD;*/
  padding: 4px 20px 10px 20px;
  color: black; /*#FFFFFF;*/
  width: 220px;
  text-align: center;
  border: 1px solid #648ABD; /*#074B8A;*/
  border-top: 0;
}

#loginStatusPanela a
{
  color: #E0ECF8/* #8EB1DF;*/
}

/* menu
----------------------------------------------------------*/
#menucontainer
{
  margin-top: -3px;
  margin-left: 0;
  font-size: 12px;
}

/* main content
----------------------------------------------------------*/
#maincontent
{
  width: 100%;
  padding: 10px 20px;
}

/* sidebar
----------------------------------------------------------*/
#sidebarContainer
{
  width: 270px;
  margin-right: -330px;
  padding: 0;
  text-align: center;
}

#sidebar
{
  background: #E2E2E2;
  padding: 6px 6px 2px 6px;
}

div.sidebarGadgetContainer
{
  margin-bottom: 4px;
  background: #648ABD; /*#8EB1DF; /*#F2F2F2;*/
  padding: 6px;
}

div.sidebarGadgetTitle
{
  padding: 4px;
  color: #FFFFFF;
}

div.sidebarGadgetContent
{
  margin: 0 auto;
  /*width: 225px;*/
  padding: 4px;
  font-size: 80%;
  background-color: #E0ECF8; /*#8EB1DF; /*#F2F2F2;*/
}

/* footer
----------------------------------------------------------*/
#footer
{
  clear: both;
  background: #999;
  position: relative;
}

/* forms
----------------------------------------------------------*/

div.formContainer
{
  margin-bottom: 4px;
  background: #648ABD;
  padding: 6px;
  display: inline-block;
}

div.formTitle
{
  padding: 4px;
  color: #FFFFFF;
  font-size: 120%;
  text-align: center;
}

div.formHeader
{
  padding: 10px 0 10px 0;
  border-bottom: solid 1px black;
  margin: 0 10px 10px 10px;
  text-align: center;
}

div.formError
{
  padding: 10px;
  border: 1px solid red;
  background-color: #FFFFD5;
  color: red;
  margin: 8px;
}

div.formContent
{
  border: 0;
  margin: 0 auto;
  padding: 8px;
  background-color: #E0ECF8;
}

form.normal2
{
  margin-bottom: 4px;
  background: #648ABD; /*#8EB1DF; /*#F2F2F2;*/
  padding: 6px;
  display: inline-block;
}



fieldset
{
  border: 0;
}

form.normal div.formrow
{
  padding-right: 10px;
  min-height: 54px;
}

div.formrow > label
{
  display: inline-block;
  width: 200px;
  text-align: right;
  padding-right: 8px;
  vertical-align: top;
  margin-top: 8px;
}

span.required
{
  font-size: 110%;
  color: Red;
  font-weight: bold;
  vertical-align: top;
}

div.formInput input
{
  width: 221px;
  border: 1px solid #074B8A;
  height: 25px;
  padding: 2px;
  margin: 1px;
  display: block;
}

div.formrow input.short
{
  width: 104px;
}

div.formInput
{
  display: inline-block;
  padding: 0;
  vertical-align: top;
}

div.formInput label
{
  font-size: 80%;
}

div.formrowold label 
{
  margin-top: 5px;
  text-align:right;
  float:left;
  padding-right: 5px;
}

button
{
  clear:both;
  text-align:center;
  font-weight:bold;
}

form.normal button
{
  padding: 6px 20px 6px 20px;
}


div.formrowspan
{
  text-align: center;
  padding: 2px;
}

div.formrowspan input
{
  vertical-align: sub;
}

div.submitrow
{
  text-align: center;
  padding: 6px 0 6px 0;
}

form p.error
{
  color: red; /*#DF0101;*/
  text-align: center;
  width: 100%;
}

div.formrow input.error, input.input-validation-error
{
  border: 2px solid red !important;
  background-color: #FFFFD5;
  color: red;
  margin: 0 !important;
}

span.field-validation-error
{
  color: Red;
  font-size: 80%;
}

div.formValidationSummary
{
  color: Red;
  background-color: #FFFFD5;
  border: 1px solid red;
  padding: 6px;
  margin-bottom: 8px;
}

/* sidebar forms */

form.sidebar div.formrow
{
  padding-right: 8px;
  min-height: 34px;
}

form.sidebar div.formrow label
{
  display: inline-block;
  width: 70px;
  text-align: right;
  padding-right: 4px;
  vertical-align: top;
  margin-top: 8px;
}

form.sidebar div.formInput input
{
  width: 120px;
  height: 16px;
}

form.sidebar button
{
  width: 100px;
  height: 25px;
  /*margin-left: 55px;*/
}

/* normal login form */

form.loginForm
{
  width: 400px;
}

form.loginForm div.formrow > label
{
  width: 120px;
}

/*
div#loginFormContainer
{
  padding: 30px;
  margin-top: 50px;
  text-align: center;
}


form.loginForm div.formrow label
{
  padding-top: 4px;
  width: 80px;
}

form.loginForm div.formrow input
{
  width: 160px;
}

form.loginForm button
{
  width: 100px;
  height: 30px;
}*/

/*
form.signupForm
{
  width: 500px;
}

form.signupForm div.formrow label
{
  padding-top: 4px;
  width: 200px;
}

form.signupForm div.formrow input
{
  width: 220px;
}

form.signupForm button
{
  width: 100px;
  height: 30px;
}
*/

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

/*
.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
*/

/* Superfish menu css
-----------------------------------------------------------*/

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			-1px;
	top:			2.65em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** BLUE SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}

.sf-menu a {
	border-right: 1px solid #648ABD;
	border-left: 1px solid #648abd;
	border-top: 1px solid #648ABD;
	padding: .75em .75em;
	text-decoration:none;
	min-width: 6em;
}

.sf-menu li.first a
{
  border-left: 1px solid #648abd;
}

.sf-menu li.last a
{
  border-bottom: 1px solid #648abd;
}

.sf-menu > li > a 
{
  text-align: center;
  border-left: 0;
  border-bottom: 1px solid #648abd;
}

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			black;
}
.sf-menu li {
	background: #8EB1DF;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:	#7795BD;
	outline: 0;
	color: White;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		6em; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url("../images/arrows-ffffff.png") no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
